---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pigeon Mail">
  <main class="w-full flex items-center justify-center">
    <div class="w-2/3 flex flex-col items-center justify-center">
      <h2 class="text-2xl">
        Chat with a daily pen pal <strong class="font-bold"
          >completely annonymously</strong
        >.
      </h2>
      <img src="/world-map.png" class="w-full my-16" />
      <ul class="mt-16 list-disc">
        <li>Chat with a new pen pal every day.</li>
        <li>
          Who needs instant messaging? Wait for our pigeons to deliver your mail
          across the globe instead.
        </li>
        <li>
          Completely annonymous. Messages are deleted from our database the next
          day.
        </li>
      </ul>
    </div>
  </main>
</Layout>
