---
import Layout from "../layouts/Layout.astro";
import Button from "../components/shared/Button";
import { getUser } from "../supabase/supabase";

const user = await getUser(Astro.request);
---

<Layout title="Pigeon Mail">
  <main class="w-full flex items-center justify-center">
    <div class="w-4/5 md:w-2/3 flex flex-col items-center justify-center">
      <h2 class="text-2xl">
        Chat with a daily pen pal <strong class="font-bold"
          >completely anonymously</strong
        >.
      </h2>
      <img
        src="/world-map.svg"
        alt="A map of the world."
        class="w-full my-16 stroke-maize"
      />
      <ul class="list-disc mb-8">
        <li>Chat with a new pen pal every day.</li>
        <li>
          Instant messaging? Wait for our pigeons to deliver your mail across
          the globe instead. <img src="/favicon.svg" class="inline h-[1.3em]" />
        </li>
        <li>
          Completely annonymous, only your country and first name are shared.
          Messages are deleted the next day.
        </li>
      </ul>

      {
        user == null && (
          <a href="/auth/register">
            <Button action="primary">
              <p class="w-32">Register</p>
            </Button>
          </a>
        )
      }

      <ul class="flex flex-row mt-6">
        <li class="mr-4">
          <a href="https://github.com/Jamalam360/pigeon-mail" target="_blank"
            ><img class="w-12" src="/icons/github.svg" alt="The GitHub logo" />
          </a>
        </li>
        <li>
          <a href="https://discord.jamalam.tech" target="_blank"
            ><img class="w-12" src="/icons/message-circle.svg" alt="A Discord icon" />
          </a>
        </li>
      </ul>
    </div>
  </main>
</Layout>
