---
import Logout from "../components/auth/Logout";
import Layout from "../layouts/Layout.astro";
import { getUser } from "../supabase/supabase";

const user = await getUser(Astro.request);

if (!user) {
  return Astro.redirect("/auth/login");
}
---

<Layout title="Profile | Pigeon Mail">
  <main class="w-full flex flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center">
      <div class="flex flex-row items-center space-x-4 pb-6">
        <img
          class="w-20 h-20 rounded-full object-cover"
          src={user.data.avatar}
          alt="avatar"
        />
        <div class="flex flex-col">
          <h2 class="flex flex-row text-xl font-bold">{user.data.name} <img src={`https://countryflagsapi.com/svg/${user.data.country}`} class="w-8 ml-2" /></h2>
          <h1 class="text-lg">{user.auth.email}</h1>
        </div>
      </div>

      <Logout client:load />
    </div>
  </main>
</Layout>
