---
import NotificationControl from "../components/NotificationControl";
import Button from "../components/shared/Button";
import { getUser, isLoggedIn } from "../supabase/supabase";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const user = await getUser(Astro.request);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Sign up today and meet a new friend." />

    <meta property="og:url" content="https://pigeon-mail.pages.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Pigeon Mail" />
    <meta
      property="og:title"
      content="Chat with a daily pen pal, completely anonymously"
    />
    <meta
      property="og:description"
      content="Sign up today and meet a new friend."
    />
    <meta
      property="og:image"
      content="https://pigeon-mail.pages.dev/og.png"
    />
    <meta
      property="og:image:alt"
      content="A world map."
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="pigeon-mail.pages.dev" />
    <meta property="twitter:url" content="https://pigeon-mail.pages.dev" />
    <meta
      name="twitter:title"
      content="Pigeon Mail | Chat with a daily pen pal, completely anonymously"
    />
    <meta
      name="twitter:description"
      content="Sign up today and meet a new friend."
    />
    <meta
      name="twitter:image"
      content="https://pigeon-mail.pages.dev/og.png"
    />
    <meta
      property="twitter:image:alt"
      content="A world map."
    />

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=montserrat:400,600,700"
      rel="stylesheet"
    />
  </head>
  <body
    class="min-h-screen flex flex-col justify-between font-montserrat text-charcoal"
  >
    <div>
      <header
        class="w-full flex flex-col md:flex-row justify-center items-center p-4 md:px-8 border-b border-gray-200 mb-8"
      >
        <a href="/">
          <div class="flex flex-row items-center">
            <img src="/favicon.svg" class="h-16 w-16" />
            <h1 class="ml-6 font-bold text-3xl">Pigeon Mail</h1>
          </div>
        </a>
        <div class="flex-grow py-1 md:py-3"></div>
        {
          user ? (
            <div class="flex flex-col h-full md:flex-row justify-center md:justify-end md:items-center md:w-2/5 space-y-2">
              <a href="/chat" class="pt-3 md:pt-0 md:w-3/5">
                <Button action="primary">Ready to make a friend?</Button>
              </a>
              <div class="w-full md:w-2/5 mt-8 md:!mt-0 h-full flex flex-row justify-center items-center">
                <a href="/profile">
                  <img
                    alt="Your avatar"
                    src={user.data.avatar}
                    class="h-16 w-16"
                  />
                </a>
                <NotificationControl client:only />
              </div>
            </div>
          ) : (
            <a href="/auth/login">
              <img alt="login" src="/icons/log-in.svg" class="h-8 w-8" />
            </a>
          )
        }
      </header>
      <slot />
    </div>

    <footer class="border-t border-gray-200 mt-8 py-2 w-full text-center">
      &copy Built by <a href="https://jamalam.tech" class="hover:underline"
        >Jamalam</a
      >
    </footer>
  </body>
</html>
